.breadcrumb{
    font-size:18px;
    background: none;
    padding: 15px 0px;
    font-family: 'Wire One', Helvetica, Arial, sans-serif;
}


.title, .subtitle{

    font-size:6em;
}


@media (min-width: 992px){
    .col-md-offset-6 {
        margin-right: 0;
    }
}

