.accordion {
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    border-radius: 0px;
    background: #f7f7f7;
    width:250px;
    border-bottom: 2px solid #cddaee;
    border-left: 1px solid #cddaee;
}
.accordion-section-title {
        width: 100%;
        /* padding: 15px; */
        display: inline-block;
        border-bottom: 1px solid #1a1a1a;
        background: #333;
        transition: all linear 0.15s;
        font-size: 1.200em;
        text-shadow: 0px 1px 0px #1a1a1a;
        color: #fff;
}

.site-header-wrap {
    margin-bottom: 0px;
    border-bottom: 1px solid #cddaee;
    background: #333;
    /* background: #F7F4F4; */

}

.site-header-wrap {
    margin-bottom: 0px;
    padding: 30px 0px 25px;
    position: relative;
    border-bottom: 2px solid #cddaee;
}

li{
    font-size: 1.200em;
    /* text-shadow: 0px 1px 0px #1a1a1a; */
    text-shadow: 0px 1px 0px #cddaee;
}
   
.col-sm-3{
    padding-left: 0px;
}

.accordion-section-title {
    width: 100%;
    /* padding: 15px; */
    display: inline-block;
    border-bottom: 1px solid #1a1a1a;
    /* background: #E4DFDF; */
    background: #333;
    transition: all linear 0.15s;
    font-size: 1.200em;
    text-shadow: 0px 1px 0px #1a1a1a;
    /* color: #9A94ff; */
    color:#fff; 
}
.container {
    padding-right: 0px; 
    padding-left: 0px; 
    margin-right: auto;
    margin-left: auto; 
}

#profile
{
    width: 50px;
    height: 50px;
}
.run{
    /* margin-left: 100px */
    
}
.google{
    color: #337ab7;
    size: 100px;
    /* background-color: #337ab7; */
    /* border-color: #2e6da4; */
}
#map,#savelocation{
    margin: 5px auto;
    background: -webkit-linear-gradient(top,#C5DEDE,#A4A4A9);
    border-radius: 0px;
    border: 2px solid #C0EFEF;
    width: 0%;
    text-align: center;
}

#sel_googlemap{
    width: 8%;
    border-radius: 200px;
    /* background: -webkit-linear-gradient(top,#C5DEDE,#A4A4A9); */
    background: -webkit-linear-gradient(top,#98D6D6,#D7D7DE);
    border:2px solid #94A0A0;
    text-align: center;

}
#spphone,#spmobile,#spemail,#spfax,#spfacebook,#spgoogle,#spinstagram,#splinkedin,#sppinterest,#spyoutube{
        font: normal normal bold 14px/2 Verdana, Geneva, sans-serif;
        color: black;
        display: none;
    } 
/* 
#spemail{
        font: normal normal bold 14px/2 Verdana, Geneva, sans-serif;
        color: black;
        display: none;
    }  */

.Error{
        background: rgba(255,221,221,1);
        /* color: red; */
}

.cp-color-picker
{
    z-index: 10;
}


.modal-backdrop.in {
    /* filter: alpha(opacity=50); */
    opacity: 0;
}
.section {
    background-color: #DDDDDD;
    padding: 0px;
}

/*.space {
    padding: 1px;
}*/

/* .line{
    background-color: green;
} */
hr {
    margin-left: 200px;
    margin-right: 200px;                                                               
    /* border: 2px; */
    border-top: 1px solid #c00939;
    box-shadow: #a20832;
    /* background-color: green; */
    height:5px;
}

.section_space{
    background-color:#DDD; 
    /* margin-top:10px; */
    height: 50px;
}
